.box{
    align-items: center;
    display: flex;
    justify-content: center;
}
.poster{
    border: 3px solid green;
}
.container-fluid{
    color: green;
}
.items{
    text-align: center;
}
.App{
    font-family: 'Shantell Sans', cursive;
    /* font-size: 1.3rem; */
}
.put{
    width: 70%;
}
